/* Container */
.url-list-container {
  max-width: 1000px;
 margin-top: -10px; 
   padding: 1.5rem;
  font-family: "Poppins", "Segoe UI", sans-serif;
  color: #333;
}


.url-list-scroll {
  max-height: 250px;              
  overflow-y: auto;               
  padding-right: 8px;
  margin-top: 1rem;
  border: 1px solid #eee;
  border-radius: 16px;
  background: #fafafa;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.05);
}

.url-list-scroll::-webkit-scrollbar {
  width: 8px;
}

.url-list-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #9333ea, #ec4899);
  border-radius: 6px;
}

.url-list-scroll::-webkit-scrollbar-track {
  background: #f3f4f6;
}

.section-title {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #5a2ea6;
  margin-bottom: 1rem;
}

.search-container {
  text-align: center;
  margin-bottom: 1.5rem;
}


.search-container input {
  width: 70%;
  max-width: 500px;
  padding: 10px 14px;
  border: 1.5px solid #ccc;
  border-radius: 25px;
  outline: none;
  font-size: 15px;

  transition: 0.3s ease;
}

.search-container input:focus {
  border-color: #7b3fe4;
  box-shadow: 0 0 5px rgba(123, 63, 228, 0.4);
}

.url-card {
  background: #fff;
  border: 1px solid #eee;
  border-radius: 14px;
  padding: 15px 20px;
  margin-bottom: 1rem;
  box-shadow: 0 4px 12px rgba(123, 63, 228, 0.08);
  }

.url-main {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.short-url {
  color: #4c1d95;
  font-weight: 600;
  text-decoration: none;
  font-size: 15px;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.short-url:hover {
  text-decoration: underline;
}

.copy-btn {
  background: #3b82f6;
  color: #fff;
  border: none;
  border-radius: 25px;
  padding: 6px 14px;
  cursor: pointer;
  font-size: 14px;
  transition: all 0.2s ease;
}

.copy-btn:hover {
  background: #2563eb;
}

.click-count {
  font-size: 13px;
  color: #6b7280;
  font-weight: 500;
  background: #f3f4f6;
  padding: 4px 10px;
  border-radius: 15px;
}

.original-url {
  margin-top: 6px;
  font-size: 14px;
  color: #555;
  word-break: break-all;
}

.delete-btn {
  margin-top: 8px;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 25px;
  padding: 6px 14px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
  float: right;
}

.delete-btn:hover {
  background: #dc2626;
}

.message {
  text-align: center;
  margin-top: 1rem;
  color: #6b21a8;
  font-weight: 500;
}